<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>黑色幽默1</string>
		<key>time</key>
		<string>21:48:01</string>
		<key>vip</key>
		<true/>
		<key>source</key>
		<string>iPhone</string>
		<key>image</key>
		<string></string>
		<key>content</key>
		<string>访问期间，蒙古国总统额勒贝格道尔吉将为习近平夫妇举办家宴，并观看小型那达慕。外交部部长助理刘建超表示，此次习近平主席出访蒙古是一次“走亲戚式”的访问。</string>
		<key>icon</key>
		<string>icon1.png</string>
	</dict>
	<dict>
		<key>name</key>
		<string>黑色幽默2</string>
		<key>time</key>
		<string>21:48:01</string>
		<key>vip</key>
		<true/>
		<key>source</key>
		<string>iPhone</string>
		<key>image</key>
		<string>image.jpg</string>
		<key>content</key>
		<string>几十年来，智能家居一直都是很多人的梦想，但是对于一般家庭来说依旧很昂贵。但是现在，这一切都要改变了！现在制造一个智能家居的成本正逐渐下降，设备制造商、公用事业公司、电信公司等都正在抓紧备战所谓的客厅大战。</string>
		<key>icon</key>
		<string>icon2.png</string>
	</dict>
	<dict>
		<key>name</key>
		<string>黑色幽默3</string>
		<key>time</key>
		<string>21:48:01</string>
		<key>vip</key>
		<false/>
		<key>source</key>
		<string>iPhone</string>
		<key>image</key>
		<string>image.jpg</string>
		<key>content</key>
		<string>2013年度的Berg Insight报告预测，到2017年，欧洲将会有1740万个智能家居系统被使用，而美国则有3140万。而在包含硬件收入、服务收入和安装收入的年收入方面上，欧洲将达到34亿美元，而美国则为94亿美元。</string>
		<key>icon</key>
		<string>icon3.png</string>
	</dict>
	<dict>
		<key>name</key>
		<string>黑色幽默4</string>
		<key>time</key>
		<string>21:48:01</string>
		<key>vip</key>
		<false/>
		<key>source</key>
		<string>iPhone</string>
		<key>image</key>
		<string>image.jpg</string>
		<key>content</key>
		<string>1111111111111</string>
		<key>icon</key>
		<string>icon1.png</string>
	</dict>
	<dict>
		<key>name</key>
		<string>黑色幽默5</string>
		<key>time</key>
		<string>21:48:01</string>
		<key>vip</key>
		<false/>
		<key>source</key>
		<string>iPhone</string>
		<key>image</key>
		<string>image.jpg</string>
		<key>content</key>
		<string>1111111111111</string>
		<key>icon</key>
		<string>icon1.png</string>
	</dict>
	<dict>
		<key>name</key>
		<string>黑色幽默6</string>
		<key>time</key>
		<string>21:48:01</string>
		<key>vip</key>
		<false/>
		<key>source</key>
		<string>iPhone</string>
		<key>image</key>
		<string>image.jpg</string>
		<key>content</key>
		<string>1111111111111</string>
		<key>icon</key>
		<string>icon1.png</string>
	</dict>
	<dict>
		<key>name</key>
		<string>黑色幽默7</string>
		<key>time</key>
		<string>21:48:01</string>
		<key>vip</key>
		<false/>
		<key>source</key>
		<string>iPhone</string>
		<key>image</key>
		<string>image.jpg</string>
		<key>content</key>
		<string>1111111111111</string>
		<key>icon</key>
		<string>icon1.png</string>
	</dict>
	<dict>
		<key>name</key>
		<string>黑色幽默9</string>
		<key>time</key>
		<string>21:48:01</string>
		<key>vip</key>
		<false/>
		<key>source</key>
		<string>iPhone</string>
		<key>image</key>
		<string>image.jpg</string>
		<key>content</key>
		<string>1111111111111</string>
		<key>icon</key>
		<string>icon1.png</string>
	</dict>
	<dict>
		<key>name</key>
		<string>黑色幽默10</string>
		<key>time</key>
		<string>21:48:01</string>
		<key>vip</key>
		<false/>
		<key>source</key>
		<string>iPhone</string>
		<key>image</key>
		<string>image.jpg</string>
		<key>content</key>
		<string>1111111111111</string>
		<key>icon</key>
		<string>icon1.png</string>
	</dict>
	<dict>
		<key>name</key>
		<string>黑色幽默11</string>
		<key>time</key>
		<string>21:48:01</string>
		<key>vip</key>
		<false/>
		<key>source</key>
		<string>iPhone</string>
		<key>image</key>
		<string>image.jpg</string>
		<key>content</key>
		<string>1111111111111</string>
		<key>icon</key>
		<string>icon1.png</string>
	</dict>
	<dict>
		<key>name</key>
		<string>黑色幽默12</string>
		<key>time</key>
		<string>21:48:01</string>
		<key>vip</key>
		<false/>
		<key>source</key>
		<string>iPhone</string>
		<key>image</key>
		<string>image.jpg</string>
		<key>content</key>
		<string>1111111111111</string>
		<key>icon</key>
		<string>icon1.png</string>
	</dict>
	<dict>
		<key>name</key>
		<string>黑色幽默13</string>
		<key>time</key>
		<string>21:48:01</string>
		<key>vip</key>
		<false/>
		<key>source</key>
		<string>iPhone</string>
		<key>image</key>
		<string>image.jpg</string>
		<key>content</key>
		<string>1111111111111</string>
		<key>icon</key>
		<string>icon1.png</string>
	</dict>
	<dict>
		<key>name</key>
		<string>黑色幽默14</string>
		<key>time</key>
		<string>21:48:01</string>
		<key>vip</key>
		<false/>
		<key>source</key>
		<string>iPhone</string>
		<key>image</key>
		<string>image.jpg</string>
		<key>content</key>
		<string>1111111111111</string>
		<key>icon</key>
		<string>icon1.png</string>
	</dict>
	<dict>
		<key>name</key>
		<string>黑色幽默15</string>
		<key>time</key>
		<string>21:48:01</string>
		<key>vip</key>
		<false/>
		<key>source</key>
		<string>iPhone</string>
		<key>image</key>
		<string>image.jpg</string>
		<key>content</key>
		<string>1111111111111</string>
		<key>icon</key>
		<string>icon1.png</string>
	</dict>
</array>
</plist>
